{% extends 'base.html' %}

{% block content %}
<title>Wishlist</title>

<div class="table">
    <style>
        table {
            border-collapse: collapse;
            width:100%%
        }
        
        tr {
            border-bottom: 1px solid #ddd;
        }

        th {
            color: #6610f2;
        }

        .button {
            background: #fff;
            border-radius: 15px;
            position: relative;
            text-align: center;
            padding: 15px;
            box-sizing: border-box;
            border-style: solid;
            border-width: 2px;
            border-color: rgba(236, 236, 236, 0.61);
        }
    </style>
    <table>
        <tr>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
        </tr>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for barang in list_barang %}
        <tr>
            <td>{{barang.nama_barang}}</td>
            <td>{{barang.harga_barang}}</td>
            <td>{{barang.deskripsi}}</td>
        </tr>
        {% endfor %}
    </table>

    <h5>Sesi terakhir login: {{last_login}}</h5>
    <button class="button"><a href="{% url 'wishlist:logout' %}">Logout</a></button>
</div>

{% endblock content %}